profiles {
    standard {
        executor.name = 'local'
        executor.cpus = 2
    }
    low {
        executor.name = 'local'
        executor.cpus = 1
    }
}

process {
    executor = 'local'
    withName: DIFFERENTIAL_EXPRESSION {
        conda = 'envs/deseq2.yml'
    }
}

conda.enabled = true

params {
    ref_fasta = 'ref/chrX.fa'
    ref_gtf = 'ref/chrX.gtf'
    strand = 0
    reads = 'fastq/*{_1,_2}*fastq.gz'
    metadata = 'metadata/samples.tsv'
    maxCpus = 2
}

